<div class="center jumbotron">
  <div class="container">
    <h1>Welcome to Fit Quest</h1>
    <%= link_to "Enter New Tasks", new_task_path, class: "center btn btn-primary btn-white-text" %>
    
  </div>
</div>

